target/
.venv/
src/main/resources/db.properties

baoCao/*
!baoCao/.gitkeep
tepBuild/taiLen/*
!tepBuild/
!tepBuild/taiLen/
!tepBuild/taiLen/.gitkeep
tepMedia/taiLen/*
!tepMedia/
!tepMedia/taiLen/
!tepMedia/taiLen/.gitkeep

*.class
*.log
*.tmp

